<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
    <!-- Importando la vista del menú de navegación -->
    <% include view_modules/menu.ejs %>

    <h1>PÁGINA PRINCIPAL</h1>
    <br/>
    <h3>Templating EJS y EXPRESS</h3>
</body>
</html>